@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--fake-white);
  font-family: "Alegreya Sans", sans-serif;
}

:root {
  --light-gray: #a7a1c4;
  --fake-white: #f6f6fe;
  --sky-blue: #b7daff;
  --normal-blue: #1c20d0;
  --dark-blue: #1215ab;
  --light-brown: #a96a7a;
  --darkest-blue: #201c5a;
  --mixed-blue: #595eb8;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid var(--light-gray);
  height: 10vh;
}

.brand {
  display: flex;
  width: 16%;
  justify-content: space-around;
  align-items: center;
  margin-left: -100px;
  /* border: 2px solid red; */
}

.brand-name {
  font-size: 1.5rem;
  /* font-weight: 100; */
  margin-left: -20px;
}

.nav-profile {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  justify-content: space-around;
  width: 15%;
  margin-right: -80px;
}

.nav-profile h6 {
  font-size: 0.9rem;
  margin-left: -20px;
  /* font-weight: 100; */
}

#sun-icon {
  color: yellow;
  font-size: 40px;
  margin-left: 5%;
}

.search-field {
  width: 30%;
  height: 40%;
  border-radius: 7px;
  background-color: var(--light-gray);
  border: none;
}

.profile-photo-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
