* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #root {
  border-radius: 5%;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  /* background-color: #f5f5f5; */
  font-family: "Poppins", sans-serif;
}

.brand {
  display: flex;
  /* border: 2px solid red; */
  width: 16%;
  justify-content: center;
  align-items: center;
}

#sun-icon {
  color: yellow;
  /* font-weight: bold; */
  font-size: 40px;
  margin-left: 5%;
}
